body{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFE;
}
.container{
  background-color: #16161A;
  padding: 10%;
  height: fit-content;
  width: fit-content ;
}
.row{
  size: 25%;
}
button{
  margin: 5px;
  font-size: 5vmin;
  border-radius: 100px;
  display: inline-block;
  border: none;
  text-decoration: none;
}
.col{
  padding: 5%;
}

.colors{
  color:#2CB67D ;
  color: #7f5af0;
  color: #FFFFFE;
  color: #94A1B2;
  color: #16161A;
} 