
body{
  background-color: #FFFFFE;
  position: relative;
}
.expression{
  color:#2CB67D;
  text-align: end;
  width: 43%;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  background-color: #16161A;
  padding: 5%;
}
 .input{
  height: 40px;
  background-color: transparent;
  border: none;
  color:#FFFFFE;
  font-size: 250%;
  width: 43%;
  text-align: right;
  margin-bottom: 10px;
}
.input:focus{
  outline: none;
}
.result{
  color:#2CB67D
}

button{
  min-height: 10px;
  min-width: 14px;
  font-size: 5vmin;
  width: 10%;
  border-radius: 10%;
  margin: .3vmax;  
  display: block;
  border: none;
  text-decoration: none;
}
button.disable{
  visibility: hidden;
}

.colors{
  color:#2CB67D ;
  color: #7f5af0;
  color: #FFFFFE;
  color: #94A1B2;
  color: #16161A;
} 