body{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFE;
}
.container{
  background-color: #16161A;
  padding: 5%;
}

button{
  margin: .3vmax;
  font-size: 5vmin;
  border-radius: 100px;
  width: 10%;
  display: block;
  border: none;
  text-decoration: none;
}

.colors{
  color:#2CB67D ;
  color: #7f5af0;
  color: #FFFFFE;
  color: #94A1B2;
  color: #16161A;
} 